body {
  background-color: #f9f9f9;
}

nav {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 5rem;
      li {
        margin-right: 3rem;
        &:last-child {
          margin-right: 0;
        }
        a {
          font-size: 1.7rem;
          color: #ffb74d;
          transition: all;
          transition-duration: 0.2s;
          &:hover {
            color: #ff8f00;
          }
        }
      }
    }
  }
}

section {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    .bg-welcome {
      width: 100%;
      max-width: 77rem;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      background-color: white;
      padding: 3rem;
      h2 {
        color: #ff8f00;
        margin-bottom: 1rem;
      }
      span {
        font-size: 1.5rem;
      }
    }
  }
}
