nav {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 5rem;
      li {
        margin-right: 3rem;
        &:last-child {
          margin-right: 0;
        }
        a {
          font-size: 1.7rem;
          color: #ffb74d;
        }
      }
    }
  }
}
